*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
}
@font-face {
    font-family: golestan;
    src: url(../../fonts/IRANSansWebFaNum-Medium.eot);
    src: url(../../fonts/IRANSansWebFaNum-Medium.ttf);
    src: url(../../fonts/IRANSansWebFaNum-Medium.woff);
    src: url(../../fonts/IRANSansWebFaNum-Medium.woff2);
}